.back-about {
    background-color: white;
    margin: 2%;
}
.about-title {
    font-size: 18px;
    font-weight: 600;
}
.about-first {
    display: flex;
    justify-content: center;
}
.about-1 {
    width: 20%;
}
.about-2 {
    width: 20%;
}
.about-3 {
    width: 25%;
}
.about-4 {
    width: 20%;
}

.about {
    margin: 2%;
}


.about-multiple {
    display: flex;
    align-items: center;
}
i.fab.fa-skype {
    border-radius: 50%;
    background-color: #f55856;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
i.fab.fa-skype:hover{
    background:orange;
    transition: .5s;
}
i.fas.fa-envelope {
    border-radius: 50%;
    background-color: #f55856;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
i.fas.fa-envelope:hover{
    background:orange;
    transition: .5s;
}
i.fas.fa-mobile {
    border-radius: 50%;
    background-color: #f55856;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
i.fas.fa-mobile:hover{
    background:orange;
    transition: .5s;
}
i.fas.fa-mobile {
    border-radius: 50%;
    background-color: #f55856;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
i.fas.fa-tty:hover{
    background:orange;
    transition: .5s;
}
i.fas.fa-tty {
    border-radius: 50%;
    background-color: #f55856;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
i.fa-airbnb:hover{
    background:orange;
    transition: .5s;
}
i.fa-airbnb{
    border-radius: 50%;
    background-color: #f55856;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
i.fa-android:hover{
    background:orange;
    transition: .5s;
}
i.fa-android{
    border-radius: 50%;
    background-color: #f55856;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
i.fa-facebook-f:hover{
    background:orange;
    transition: .5s;
}
i.fa-facebook-f{
    border-radius: 50%;
    background-color: #f55856;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
i.fa-linkedin:hover{
    background:orange;
    transition: .5s;
}
i.fa-linkedin{
    border-radius: 50%;
    background-color: #f55856;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
p.para {
    margin: 0;
    font-size: 14px;
}
.about-block {
    margin: 10px;
}
p.para1{
margin-left: 7px;
font-size: 14px;
}
.about-second {
    display: flex;
}
i.fab.fa-twitter {
    width: 40px;
    height: 40px;
    background-color: #555555;
    color: white;
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    margin: 3px;
    margin-left:10px
}
i.fab.fa-google-plus-square{
    width: 40px;
    height: 40px;
    background-color: #555555;
    color: white;
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    margin: 3px;
}
i.fab.fa-youtube {
    width: 40px;
    height: 40px;
    background-color: #555555;
    color: white;
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    margin: 3px;
}
i.fab.fa-vimeo-v {
    width: 40px;
    height: 40px;
    background-color: #555555;
    color: white;
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    margin: 3px;
}
i.fab.fa-instagram {
    width: 40px;
    height: 40px;
    background-color: #555555;
    color: white;
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    margin: 3px;
}
i.fab.fa-pinterest-p {
    width: 40px;
    height: 40px;
    background-color: #555555;
    color: white;
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    margin: 3px;
}
i.fab.fa-linkedin-in {
    width: 40px;
    height: 40px;
    background-color: #555555;
    color: white;
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    margin: 3px;
}
i.fab.fa-vk {
    width: 40px;
    height: 40px;
    background-color: #555555;
    color: white;
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    margin: 3px;
}
i.fab.fa-renren {
    width: 40px;
    height: 40px;
    background-color: #555555;
    color: white;
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    margin: 3px;
}
i.fab.fa-facebook {
    width: 40px;
    height: 40px;
    background-color: #555555;
    color: white;
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    margin: 3px;
}
.newsletter{
    display: flex;
    margin-right: 3%;
}
button.button-subscribe {
    height: 42px;
    margin-left: 10px;
    width: 98px;
    border:0;
}
input.input-newsletter {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 10px;
}
p.p-newsletter {
    height: 0px;
}
button.button-subscribe:hover{
    background-color: orange;
    color:white;
    transition: 0.5s;
}
i.fab.fa-facebook:hover{
    background: #f55856;
    color:black;
    transition:.5s;
}
i.fab.fa-renren:hover{
    background: #f55856;
    color:black;
    transition:.5s;
}
i.fab.fa-vk:hover{
    background: #f55856;
    color:black;
    transition:.5s;
}
i.fab.fa-linkedin-in:hover{
    background: #f55856;
    color:black;
    transition:.5s;
}
i.fab.fa-pinterest-p:hover{
    background: #f55856;
    color:black;
    transition:.5s;
}
i.fab.fa-instagram:hover{
    background: #f55856;
    color:black;
    transition:.5s;
}
i.fab.fa-youtube:hover{
    background: #f55856;
    color:black;
    transition:.5s;
}
i.fab.fa-google-plus-square:hover{
    background: #f55856;
    color:black;
    transition:.5s;
}
i.fab.fa-twitter:hover{
    background: #f55856;
    color:black;
    transition:.5s;
}
i.fab.fa-vimeo-v:hover{
    background: #f55856;
    color:black;
    transition:.5s;
}
