i.fas.fa-user {
    margin-right: 11px;
}
.font-weight-titles{
    font-weight: 400;
}
.lateral-bar-account{
width: 20%;
}
.h3-shirt.acc{
    text-align: center;
}
.account-function{
    list-style: disc;
}
li.account-function:hover{
    color:#f55856
}
.custom-account {
    margin-left: 15px;
}
span.section-line-horizontal {
    clear: both;
    display: block;
    font-size: 0;
    line-height: 0;
    height: 0;
    margin: 0px 0px 10px;
    padding: 10px 0 0;
    background: none;
    border-right: 1px solid #e5e5e5;
    text-indent: -9999em;
    overflow: hidden;
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 14px;
}
li.element-login {
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 2px;
    margin-left: -10px;
}
.half {
   
    width: 50%;
    border-right: 1px solid #e5e5e5;
}
.half2 {
    width: 50%;
}
h3.h3-title-account{
font-weight: 400;
    margin: 0;
    font-size: 25px;
    font-family: "Bitter", georgia, serif;
    
}
h6.h6-title-account {
    font-weight: 400;
    margin: 0;
    font-size: 25px;
    font-family: "Bitter", georgia, serif;
    font-size: 15px;
    margin-right: 10px;
    margin-top: 10px;
}
.half-contact {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
h1.shirt-title {
    margin: 1%;
}
.margin-null{
    margin:0;
}
h6.h6-title-account:hover{
    color:#f55856;
}