@media only screen and (min-width: 768px) and (max-width: 1024px){
        body {
            color: #333333;
            background-color: #f5f5f5;
        }
        img {
            border: 0;
            max-width: 100%;
            vertical-align: top;
        }
        .link-headers{
        display:block
        }
        li {
            list-style: none;
        }
        .select-nation{
            text-align:right;
        }
        .first-link:hover{
                background-color: red;
                color: white;
        }
        .second-link:hover{
            background-color: red;
            color: white;
        }
        .third-link:hover{
            background-color: red;
            color: white;
        }
        .upper {
            line-height: 36px;
        }
        li.third-link {
            padding: 0 7px;
        }
        li.second-link {
            padding: 0 7px;
        }
        li.first-link {
            padding: 0 7px;
        }
        ul{
            margin-left:0;
        }
        select {
          background-image: url(http://ultimo.infortis-themes.com/demo/media/wysiwyg/infortis/ultimo/_patterns/default/grain3.png);
            border: 0;
            padding:10px
        }
        select:hover{
            background-color:white;
        }
        .Home{
            background-image: url(http://ultimo.infortis-themes.com/demo/media/wysiwyg/infortis/ultimo/_patterns/default/grain3.png);
        }
        .dropbtn {
            background-color: #f5f5f5;       
            font-size: 14px;
            border: none;
            background-image: url(http://ultimo.infortis-themes.com/demo/media/wysiwyg/infortis/ultimo/_patterns/default/grain3.png);
          }
          .compare {
            background-color: #f5f5f5;       
            font-size: 15px;
            padding: 10px;
            border: none;
            background-image: url(http://ultimo.infortis-themes.com/demo/media/wysiwyg/infortis/ultimo/_patterns/default/grain3.png);
          }
          .cart {
            background-color: #f5f5f5;       
            font-size: 15px;
            padding: 10px;
            border: none;
            background-image: url(http://ultimo.infortis-themes.com/demo/media/wysiwyg/infortis/ultimo/_patterns/default/grain3.png);
          }
          .women {
            background-color: #f5f5f5;       
            font-size: 15px;
            border: none;
          }
          
          .dropdown {
            position: relative;
            display: inline-block;
          }
          .dropdown2 {
            position: relative;
            display: inline-block;
          }
          .dropdown3 {
            position: relative;
            display: inline-block;
          }
          .dropdown4 {
            position: relative;
          }
          
          
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f5f5f5;
            z-index: 1;
          }
          .compare-content {
            display: none;
            position: absolute;
            background-color: #f5f5f5;
            z-index: 1;
          }
          .cart-content {
            display: none;
            position: absolute;
            background-color: #f5f5f5;
            z-index: 1;
          }
          .women-content {
            display: none;
            position: absolute;
            background-color: #f5f5f5;
            z-index: 1;
          }
          
          .compare-content a {
            color: black;
            text-decoration: none;
            display: block;
            font-size:14px;
          }
          .cart-content a {
            color: black;
            text-decoration: none;
            display: block;
            font-size:14px;
          }
          .women-content a {
            color: black;
            text-decoration: none;
            display: block;
            font-size:14px;
          }
         
          
          
          
          .dropdown-content a {
            color: black;
            text-decoration: none;
            display: block;
            font-size:14px;
          }
          
          .dropdown-content a:hover {background-color: white;}
          
          .dropdown:hover .dropdown-content {display: block;}
          
          .dropdown:hover .dropbtn {background-color: white;}
          //Drop 2 Compare
          .compare-content a:hover {background-color: white;}
          
          .dropdown2:hover .compare-content {display: block;}
          
          .dropdown2:hover .compare {background-color: white;}
          //Drop 3 Cart
          .cart-content a:hover {background-color: white;}
          
          .dropdown3:hover .cart-content {display: block;}
          
          .dropdown3:hover .cart {background-color: white;}
          //Dropdown 4 Women
          .women-content a:hover {background-color: white;}
          
          .dropdown4:hover .women-content {display: block;}
          
          .dropdown4:hover .women {background-color: red; }
          ul.links {
            display: -webkit-inline-box;
            margin: 0;
            float: left;
        }
        .dropdown-content {
            position: absolute;
            top: 77%;
            left: -67px;
            z-index: 4000;
            padding: 20px;
            min-width: 130px;
            line-height: 1.5em;
            text-align: left;
            list-style: none;
            background-color: white;
        }
        .compare-content {
            position: absolute;
            top: 107%;
            left: -230px;
            z-index: 4000;
            padding: 25px;
            min-width: 280px;
            line-height: 2.5em;
            text-align: left;
            list-style: none;
            background-color: white;
        }
        .cart-content {
            position: absolute;
            top: 107%;
            left: -254px;
            z-index: 4000;
            padding: 25px;
            min-width: 280px;
            line-height: 2.5em;
            text-align: left;
            list-style: none;
            background-color: white;
        }
        .women-content {
            position: absolute;
            top: 48px;
            left: 95px;
            z-index: 4000;
            padding: 25px;
            min-width: 280px;
            line-height: 2.5em;
            text-align: left;
            list-style: none;
            background-color: white;
            border-top: 4px solid red;
        }
        img.flag-eng {
            margin-right: 10px;
            margin-top: 2px;
        }
        img.flag-ita{
            margin-right: 10px;
            margin-top: 6px;
        } 
        button.dropbtn {
            padding: 15px;
        }
        .dropbtn:hover {
           background-color: white;
           background-image: none;
        }
        img.phone {
            width: 16px;
            height: auto;
            margin-top: 8px;
            margin-right: 3px;
        }
        .second-right {
            float: right;
        }
        ul.links2 {
            display: inline-flex;
        }
        li.account{
        padding: 0 7px;
        }
        li.wishlist{
            padding: 0 7px;
        }
        li.login{
             padding: 0 7px;
        }
        .account:hover{
            background-color: red;
            color: white;
        }
        .wishlist:hover{
            background-color: red;
            color: white;
        }
        .login:hover{
            background-color: red;
            color: white;
        }
        .second-right {
            line-height: 36px;
        }
        img.compare-logo {
            width: 12px;
            margin-top: 13px;
            margin-right: 6px;
        }
        img.cart-logo {
            width: 20px;
            margin-top: 8px;
            margin-right: 10px;
        }
        input#search {
            border: 0;
            padding: 10px;
            margin-right: 10px;
        }
        button.search {
            position: absolute;
            right: 11px;
            top: 65px;
            margin: -1px;
            padding: 0;
            background-color: transparent;
            color: #000;
            width: 34px;
            height: 34px;
            line-height: 34px;
            text-align: center;
            font-size: 14px;
            border: 0;
        }
        img.search-img {
            width: 20px;
            margin-top: 9px;
        }
        button.search:hover{
            background:orange;
        }
        img.search-img:hover{
        background:orange;
        }
        .body{
        background-image: url(http://ultimo.infortis-themes.com/demo/media/wysiwyg/infortis/ultimo/_patterns/default/grain3.png);
        }
        .back {
            background-color: white;
            margin: 4%;
        }
        ul.navbar {
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
            margin: 2%;
            height: 48px;
          }
          li a{
            float:left;
            display: inline;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 16px;
            font-weight: 450;
          }

          .home-navbar {
            background-color: #333;
            color: white;
        }
            img.home-logo {
                width: 15px;
                margin-top: 2px;
                margin-left: 2p;
                margin-right: 5px;
        }
        .body {
            display: grid;
            background-color: #f5f5f5;
        }
        div.navbar {
            display: grid;
        }
       .Custom{
            float:right;
        } 
        .About{
            float: right;
        }
        .women-low {
            float: left;
            display: grid;
        }
        .img-women {
            display: inline-grid;
        }
        a.women1 {
            font-size: 14px;
            margin: -11px;
            font-weight: 600;
            color: grey;
            
        }
        ul.navbar {
                border-bottom: 4px solid black;
            }
            li.women-list2 {
                font-size: 12px;
                left: -4px;
                position: relative;
                display: relative;
            }
            span.movement {
                left: -10px;
                position: relative;
                transition: 0.5s;
            }
            .women-list2:hover span.movement{left:0px;}
            .women-list2:hover{
                color:red;
            }
            .women1:hover{
                color:red;
            }
            img.img-women2 {
                filter: brightness(50%);
            }
           @keyframes changewidth {
               from {
                position: absolute;
                width: 68px;
                top: 45%;
                right: 33%;
                transition: 1s;
               } to{
                position: absolute;
                width: 80px;
                top: 45%;
                right: 33%;
                transition: 1s;
               }               
            }
            img.img-gift{
                display:block;
                animation-duration: 0.5s;
                animation-name: changewidth;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
            .img-women2:hover{
                filter: brightness(100%);
                transform: rotate(20deg);
            }
    }
    