@media only screen and (min-width: 768px) and (max-width: 1024px){
    i.fas.fa-anchor{
    width: 140px;
    }
    i.fas.fa-gift{
        width: 140px;
    }
    i.fas.fa-feather-alt{
        width: 140px;
    }
    i.fas.fa-clock{
    width: 140px;
    }
}
      
    