.regroup-pdl {
    display: flex;
    align-content: flex-start;
    margin-top: 10px;
    flex-flow: row;
}
.lateral-bar {
width: 20%;
text-align: center;
}
.shirt-div{
    width: 80%;
    
}
.number-item-pdl{
    font-weight: 700;
    font-size: 14px;
    margin-right: 10px;
}
.para-item-pdl{
    font-size: 14px;
    margin-right: 10px;
}
.select-item-pdl{
height: 40px;
    background-color: white;
    border: 1px solid #e5e5e5;
    background-image: none;
    color: #a9a9a9;
    margin-right: 10px;
}
.fas.fa-arrow-up{
    line-height: 4;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 12px;
}
.option-pdl{
    display:flex;
    justify-content: space-between;
}
.simple-flex{
    display:flex;
}
i.fas.fa-th-large {
    margin-right: 10px;
    line-height: 4;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 12px;
}
i.fas.fa-list {
    margin-right: 10px;
    line-height: 4;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 12px;
}
.size {
    padding: 15px;
    float: left;
    display: flex;
    border-bottom: 1px solid #eee;
        margin-left: 15px;
        margin-right: 15px;
}
.div-size {
    display: flex;
    flex-flow: column;
}
.size:hover {
    background-color: #5bd2ec;
    transition: .5s;
}
.simple-flex-navbar {
    display: flex;
    margin-left: 15px;
    padding: 10px;
}
i.fas.fa-caret-right {
    line-height: 2;
    font-size: 10px;
    margin-right: 20px;
    color:#eee
}
li.price{
color: black;
font-size: 14px; 
}
.simple-flex-navbar:hover i.fas.fa-caret-right {
    position: relative;
    left: 5%;
    transition: 0.5s;
}
.simple-flex-navbar:hover li.price{
    color: #f55856

}
.title-navbar-weight{
    font-weight: 700;
    width: 77%;
}
.white-color {
    width: 15px;
    height: 15px;
    border: 1px solid #eee;
    background: white;
}
.blue-color {
    width: 15px;
    height: 15px;
    border: 1px solid #eee;
    background: blue;
}
.ligthgrey-color {
    width: 15px;
    height: 15px;
    border: 1px solid #eee;
    background: lightslategrey;
}
.grey-color {
    width: 15px;
    height: 15px;
    border: 1px solid #eee;
    background: grey;
}
.black-color {
    width: 15px;
    height: 15px;
    border: 1px solid #eee;
    background: black;
}
.regroup-color{
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 40%;
    margin-left:15px
}
.Color-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
p.parents{
    color: #bbb;
}
.size-color {
    width: 30px;
    height: 30px;
    background-color: #eee;
    border: 1px solid darkgrey;
    line-height: 2;
}
.size-color:hover{
    border: 1px solid black;
}
p.custo-top {
    color: darkgrey;
}
p.custo-top:hover{
    color:black
}
.product-plp {
    width: 25%;
    display: flex;
}
div.simple-flex-shirt:hover span.sticker.sale {
    width: 70px;
    height: 70px;
}
.simple-flex-shirt {
    display: flex;
}
a {
    text-decoration: none;
}
.product.list {
    display: inline;
}
.product.list .product-plp {
    width: 100%;
}
.product.list a {
    display: flex;
}
.product.list img.img-slide2 {
    width: 303px;
    margin: 20px;
}
.adjust-list{
    display:flex;
    flex-wrap: wrap;
}
.regroup-list2{
    display: flex;
    flex-flow: column;
    width: 64%; 
}
.regroup-list{
    display: flex;
    justify-content: space-between;
}
.contenitor-list{
    width: 36%;
}
.product.list span.img-0-slide{
    margin-right: 30%;
    margin-bottom: 10px;
}
.product.list button {
    border: 0;
    width: 180px;
    height: 50px;
    background: #eee;
    margin-right: 5%;
}
.product.list span.img-0-description{
font-size: 14px;
width: 66%;
}
.regroup2-list {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    align-items: center;flex-flow: column;
}
 .product.list .product-plp:hover {
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 1%;
    padding-right: 1%;
    z-index: 10;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-color: transparent;
}
.product-plp:hover {
    margin-left: 0%;
    margin-right: 2%;
    padding-left: -3%;

    z-index: 10;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-color: transparent;
    width: 20%;
}
.product.list button:hover{
    background-color: orange;
}
.link-list{
    font-size:14px;
}
.link-list:hover{
    color:red;
}
.product.list span.img-2-offer{
    margin-right: 7%;
}
span.img-0-slide{
text-align: center;
    display: block; 
}
a{
    color:black;
}
button.hover-apparence {
    border: 0;
    background: #eee;
    width: 87px;
    height: 45px;
    margin-bottom: 5%;
    display: none;
}
.product-plp:hover button.hover-apparence {
    display: block;
}
.simple-flex2{
flex-flow: column;
justify-content: center;
align-items: center;  
display:flex;
}
button.hover-apparence:hover{
    background-color:orange;
}
.all-leave{
 all: unset;   
}

