@media only screen and (min-width: 1200px){
    .back-about {
        background-color: white;
        margin: 2%;
        width: 1170px;
        margin: auto;
        margin-top: 40px;
    }
    .back-title {
        background-color: white;
        margin: 2%;
        width: 1170px;
        margin: auto;
        margin-top: -21px;
    }
    .back {
        background-color: white;
        margin: 2%;
        width: 1170px;
        margin: auto;
    }
    .Header-up {
        width: 1170px;
        margin: auto;
    }
    .back-footer {
        width: 1170px;
        margin: auto;
        margin-top: 40px;
    }
    .back-footer-second{
        background:#111111 ;
         max-width: 100%;
         margin-top: 40px;
     }
     li.electronics-3 {
        margin-left: 50%;
        font-size: 14px;
    }
    .img-slide-hide {
        margin-left: 16px;
    }
    .img-slide-hide-2 {
        margin-left: 16px;
    }

}