.image-cont {
    width: 12%;
    margin: 2%;
    border-right: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.title-cont {
    display: flex;
    width: 70%;
    font-size: 27px;
    padding: 0px;
    margin: 2%;
    border-right:1px solid #eee
    
}
.price-cont {
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #eee;
}
h1.title-wishcart {
    margin: 0%;
    margin-left: 3%;
}
.img-wishcart{
    width: 110px;
    margin-top: 25px;
    margin-right: 35px;
  
}
.simple-flex.border {
    margin-left: 3%;
    margin-right: 3%;
    border-top:1px solid black;
    border-bottom: 1px solid #eee;
}
.regroup3.wishcart {
    width: 15%;
    justify-content: space-around;
    margin: 2%;
}
.margin-adjust-span{
    margin-right: 40px;
}
span.title-3 {
    margin-left: 9%;
    font-weight: 600;
}
span.title-2 {
    margin-left: 45%;
    font-weight: 600;
}
span.title-1 {
    margin-left: 16%;
    font-weight: 600;
}
button.button-wishcart {
    border: 0;
    background: #e5e5e5;
    width: 164px;
    height: 35px;
    margin: 10%;
}
button.button-wishcart2 {
    border: 0;
    background: #e5e5e5;
    width: 164px;
    height: 35px;
    margin: 10%;
    margin-right: 40px;
}
button.button-wishcart2:hover{
    background:orange;
    color:white;
    transition: .5s
}
button.button-wishcart:hover{
    background:orange;
    color:white;
    transition: .5s
}
button.button-cart-wishcart {
    border: 0;
    background: #f27474;
    margin-right: 40px;
    width: 216px;
    height: 55px;
    color: white;
    font-size: 18px;
}
.bottom-wishcart-left {
    margin: 2%;
    width: 67%;
}
.bottom-wishcart-right {
    background: #e5e5e5;
    width: 100%;
    text-align: right;
    margin: 2% -3%;
    height: 220px;
}
.wei-low {
    font-size: 16px;
    margin: 2%;
}
.wei-high {
    margin: 2%;
    font-weight: bold;
    font-size: 20px;
}
button.button-cart-wishcart:hover{
    background: orange;
    color:white;
    transition: .5s;
}
.hoverize:hover{
color:#f27474;
}
.hoverize{
    margin:8%;
    transition: 1s;
}
.bottom-wishcart-right-upper {
    width: 30%;
}
span.span-bottom-certificate {
    font-size: 14px;
}
.first-part-wishcart-left{
    width: 50%;
    margin: 2%;
}
.first-part-wishcart-right{
    width: 50%;
    margin: 2%;
}
span.estimate-discount {
    margin: 5%;
    font-size: 20px;
}
button.button-coupons {
    margin-top: 4%;
    background: #e5e5e5;
    width: 60%;
    height: 50px;
    border: 0;
}
.input-coupon{
    width: 100%;
    display: block;
    height: 20%;
}
button.button-coupons:hover{
    background:orange;
    color:white;
    transition: 1s;
}
select.country {
    border: 1px solid black;
    background: white;
}
input.option-wishcart {
    width: 100%;
    height: 33px;
}
button.option-wishcart {
    width: 40%;
    border: 0;
    margin: 2%;
    background-color: #e5e5e5;
    height: 50px;
}
button.option-wishcart:hover{
    background:orange;
    color:white;
    transition: 1s;
}
span.number-cart{
background-color: #f55856;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;

color: #fff;

-moz-border-radius: 3px;
border-radius: 3px;
padding: 2px;
margin-right: 2px;
margin-left: -6px;
}
.simple-flex-cart {
    display: flex;
    flex-flow: column;
}
img.img-cart{
    width: 70px;
    height: auto;
    margin: 2%;
}
.title-cart{
    margin: 0;
    padding: 0;
    font-size: 14px;
   font-weight: 600;

}
.price-cart{
    margin: 0;
    padding: 0;

}
i.fas.fa-times-circle.cart {
    background: white;
    display: flex;
    align-items: center;
    margin: 0px;
}
i.fas.fa-times-circle.cart:hover{
    color:#f55856;
    transition: 1s;
}
p.price-cart {
    margin-left: 10px;
    color: grey;
}
span.none {
    display: none;
}
p.cart-write-notif {
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    margin:0
}
button.view-all-button {
    border: 0;
    width: 90px;
    height: 45px;
    background: #e5e5e5;
}
button.view-all-button:hover{
    background: orange;
    color:white;
    transition: 1s;
}

